
#logout{
  background: #FFE150;
}


#logoutWord{
  background: #FFE150;
}
.bi-box-arrow-right{
  background: #FFE150;
}




#list{
  left: 35%;
  color: black;
  font-size: 30px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 3px;
  word-wrap: break-word;
  position: absolute;
  top: 20%;
}


#logoutButton{
  align-items: center;
  width: 14%;
  height: 5%;
  top: 50%;
  left: 50%;
  font-family: Inter;
  border-radius: 5%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 20px;
  letter-spacing: 4px;
}

.popup {
  position: fixed;
  /* 위계를 bg보다 1 높게 해서 더 위로 올라가도록 함 */
  z-index: 11;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 150px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid blue;
}

.popup h3{
  text-align: center;
  color: black;
  padding: 30px 0;
  font-size: 30px;
  font-weight: 350;
  background-color: #eeeeee;
}

.buttons{
  width: 100%;
  height: 25px;
  background-color: #eeeeee;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.buttons button{
  background-color: #dadada;
  border-color: black;
  height: 100%;
  width: 50px;
}


