#notiTitle{
    height: 43px;
    border-top: none;
    border-bottom: 2px black solid;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 100%;
}

#no{
    width: 80px;
    height: 40px;
    background: white;
    position: relative;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no div{
    width: 80px;
    background: white;
    height: 20px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 3.75px;
    word-wrap: break-word;
}

#notiName{
    flex: 1;
    height: 40px;
    background: white;
    border: 1px white solid;
    justify-content: center;
    align-items: center;
    display: flex;
}

#notiName div{
    flex: 1;
    background: white;
    height: 20px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 3.75px;
    word-wrap: break-word;
}

#writer{
    width: 120px;
    height: 40px;
    background: white;
    border: 1px white solid;
    justify-content: center;
    align-items: center;
    display: flex;
}

#writer div{
    width: 120px;
    background: white;
    height: 20px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 3.75px;
    word-wrap: break-word;
}
#registDate{
    width: 120px;
    height: 40px;
    background: white;
    border: 1px white solid;
    justify-content: center;
    align-items: center;
    display: flex;
}

#registDate div{
    width: 120px;
    background: white;
    height: 20px;
    text-align: center;
    color: black;
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 3.75px;
    word-wrap: break-word;
}

#comment{
    position: absolute;
    top: 43px;
    border-bottom: 2px #7e7e7e solid;
    width: 100%;
    overflow-y: auto;
    text-align: center;
    height: 60%;
    /* 수직 중앙 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
}


#comment div{

    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    text-align: center;
    width: 600px;
    letter-spacing: 2px;

}

#manamgeAnswer{
    width: 100%;
    height: 18%;
    position: absolute;
    bottom: 15%;
    border-bottom: 2px solid #7e7e7e;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#manamgeAnswer div{
    font-size: 20px;
    font-family: Inter;
}

#yama{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 25px;
    font-family: Inter;
    font-weight: bold;
}