<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>학교 종이 땡땡땡</title>
    <link rel="icon" type="image/png" href="/favicon/favicon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <style>
        /* body 스타일 */
        body {
            background-color: white;
            overflow: hidden;
            font-size: 20px;
        }
        /* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
        .fc-header-toolbar {
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1em;
        }
    </style>
    <link rel="stylesheet" href="/css/calendar.css" type="text/css">
</head>
<body    style=" width: 100%;
          height: 100%;
          display: flex;
          position: fixed; ">
<!--------------------------------------제목 및 네비----------------------------------------------->
<header class="navbox">
    <nav>
        <h1>
            <button class="main" onclick="location.href='/main/main'">
                학교종이 땡땡땡
            </button>
        </h1>
        <ul>
            <li>
                <button class="ranking" onclick="location.href='/rank/rank'">
                    랭킹
                </button>
            </li>
            <li>
                <button class="calendar" onclick="location.href='/calendar/calendar'">
                    캘린더
                </button>
            </li>
            <li>
                <button class="student-management" onclick="location.href='/management/student_manage'">
                    학생관리
                </button>
            </li>
            <li>
                <button class="mypage" onclick="location.href='/school/mypage_info'">
                    마이페이지
                </button>
            </li>
        </ul>
    </nav>
</header>
<!----------------------------------------캘린더---------------------------------------->
<div class="schedule" style="font-family: Inter">
    <div class="schedule-1">
        <h2>오늘의 일정</h2>
        <div class="scheduletb">
            <table id="scheduletb">
                <tr th:each="schedules : ${schedule}">   <!--foreach 문 표현식-->
                    <td th:text="${schedules.title}" style="background-color: white"></td>
                </tr>
            </table>
        </div>
    </div>

    <div id='calendar-container'>
        <div id='calendar'></div>
    </div>

    <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">일정 추가하기</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    일정이름 : <input type="text" id="title" /><br />
                    시작시간 : <input type="date" id="start" /><br />
                    종료시간 : <input type="date" id="end" /><br />
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                    >
                        취소
                    </button>
                    <button type="button" class="btn btn-primary" id="saveChanges">
                        추가
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>


<footer id=footers>
    <div id = email>kbjcom@google.com</div>

    <img src="/image/bell.png" alt="school Bell" id="bell">
    <div id =footerTitle>학교 종이 땡땡땡</div>

    <div id="number">call : 010-6411-9074</div>
    <div id="footerFinal">
        <div>Copyright (C) 2023</div>
        <div id="jejuH">.김백정컴퍼니.</div>
        <div>All rights reserved.</div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- fullcalendar JavaScript 및 언어 파일 -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>

<!-- Bootstrap JavaScript 및 Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    (function(){
        $(function(){
            // calendar element 취득
            let calendarEl = $('#calendar')[0];
            // full-calendar 생성하기
            let calendar = new FullCalendar.Calendar(calendarEl, {
                googleCalendarApiKey: 'AIzaSyAVIPjV-Xwq05ev5yexmFezpxzVwRBW-08',
                expandRows: true, // 화면에 맞게 높이 재설정
                slotMinTime: '08:00', // Day 캘린더에서 시작 시간
                slotMaxTime: '20:00', // Day 캘린더에서 종료 시간
                customButtons:{
                    myCustomButton:{
                        text:"일정 추가하기",
                        click : function(){
                            //부트스트랩 모달 열기
                            $("#exampleModal").modal("show");
                        }
                    },

                },
                // 해더에 표시할 툴바
                headerToolbar: {
                    left: 'prev,next today,myCustomButton',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                initialView: 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
                // initialDate: '2021-07-15', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
                navLinks: true, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
                editable: true, // 수정 가능?
                selectable: true, // 달력 일자 드래그 설정가능
                nowIndicator: true, // 현재 시간 마크
                dayMaxEvents: false, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
                locale: 'ko', // 한국어 설정
                eventAdd: function(obj) { // 이벤트가 추가되면 발생하는 이벤트
                    console.log(obj);
                },
                eventChange: function(obj) { // 이벤트가 수정되면 발생하는 이벤트
                    console.log(obj);
                },
                eventRemove: function(obj){ // 이벤트가 삭제되면 발생하는 이벤트
                    console.log(obj);
                },

                //데이터 가져오는 이벤트
                eventSources:[
                    {
                        events: async function (info, successCallback, failureCallback) {
                            const eventResult = await axios({
                                method: "POST",
                                url: "/calendar/eventData",
                            });
                            const eventData = eventResult.data;
                            //이벤트에 넣을 배열 선언하기
                            const eventArray = [];
                            eventData.forEach((res) => {
                                eventArray.push({
                                    title: res.title,
                                    start: res.start,
                                    end: res.end,
                                });
                            });
                            successCallback(eventArray);
                        },
                    },
                    {
                        googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com',
                        backgroundColor: 'green',
                    }
                ]
            });
            calendar.render();
            //모달창 이벤트
            $("#saveChanges").on("click", async function () {
                let eventData = {
                    title: $("#title").val(),
                    start: $("#start").val(),
                    end: $("#end").val(),
                };

                // 빈 값 입력 확인 및 시간 입력 오류 확인
                if (
                    eventData.title == "" ||
                    eventData.start == ""
                ) {
                    alert("입력하지 않은 값이 있습니다.");
                } else if ($("#start").val() > $("#end").val()) {
                    alert("시간을 잘못 입력하셨습니다.");
                } else {
                    try {
                        calendar.addEvent(eventData);
                        // 서버에 이벤트 추가 요청 보내기
                        const response = await axios({
                            method: "POST",
                            url: "/calendar/calendarSave",
                            data: eventData,
                        });

                        // 서버에서 응답을 받아 처리 (예: 성공 여부에 따라 알림 등)

                        alert("이벤트 추가 성공");
                        // 원하는 작업 수행 (예: 모달 숨기기 및 입력 필드 초기화)
                        $("#exampleModal").modal("hide");
                        $("#title").val("");
                        $("#start").val("");
                        $("#end").val("");

                    } catch (error) {
                        console.error("Error adding event:", error);
                        alert("이벤트 추가 중 오류가 발생했습니다.");
                    }
                }
            });
            // 캘린더 랜더링
            calendar.render();
        });
    })();
</script>
</body>
</html>