<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학교 종이 땡땡땡</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="container">
        <div class="inner">
            <div class="error-image">
                <img src="/img/bell1.png" alt="brunch">
                <p style="font-size: 25px; color: black; font-weight: bold">원하시는 페이지를 찾을 수 없습니다.</p>
                <p>주소의 변경 혹은 에러로 인해 사용하실 수 없습니다.</p>
                <a href="http://localhost:8080" class="alert-button">홈으로 돌아가기</a>
            </div>
        </div>
    </div>

</body>
</html>