<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimbaekjung.semiproject.school.model.SchoolDAO">

    <resultMap id="schoolResult" type="com.kimbaekjung.semiproject.school.dto.SchoolDTO">
        <id property="studentCode" column="STUDENT_CODE"/>
        <result property="studentName" column="STUDENT_NAME"/>
    </resultMap>

    <select id="oneName" resultMap="schoolResult">
        SELECT
        STUDENT_CODE,
        STUDENT_NAME
        FROM STUDENT
        WHERE STUDENT_STATUS = 'Y'
        AND USER_CODE = #{userCodes}
    </select>



</mapper>