<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimbaekjung.semiproject.main.model.StudentDAO">

    <resultMap id="schoolResult" type="com.kimbaekjung.semiproject.main.dto.StudentDTO">
        <id property="code" column="student_code"/>
        <result property="name" column="student_name"/>
        <result property="score" column="score"/>
    </resultMap>
    <select id="studentName" resultMap="schoolResult">
        SELECT
            a.student_name,
            sum(b.score) AS score
          FROM student a
          JOIN praise b ON (a.student_code = b.student_code)
          where a.user_code = #{userCodes}
            and a.student_status = 'Y'
         GROUP BY a.student_name
         ORDER BY score DESC
         LIMIT 3;

    </select>

    <select id="allStudent" resultMap="schoolResult">
        SELECT
         STUDENT_NAME
         FROM student
         WHERE user_code = #{userCodes}
           and student_status = 'Y'

    </select>

</mapper>