<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>학교종이 땡땡땡</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet"/>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/favicon/favicon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <style>
        .content-management {
            color: #17A1FA;
        }
    </style>

</head>
<body>
    <div th:insert="~{/admin/admin_main.html :: mainFragment}"></div>

    <div class="content">
        <div class="recommend-regist">
            <div class="recommend-regist-title-box">
                <div class="recommend-regist-title-name-box">
                    <span class="recommend-regist-title-name">추천문구 등록</span>
                </div>
            </div>

            <form name="recommendForm" action="/recommend/registRecommend" method="post" autocomplete="off">
                <div class="recommend-select-category-box">
                    <div class="recommend-regist-category">카테고리</div>
                    <select name="categoryCode" class="recommend-select-category">
                        <option value="1">배려</option>
                        <option value="2">사고</option>
                        <option value="3">긍정</option>
                        <option value="4">책임</option>
                        <option value="5">성실</option>
                        <option value="6">도움</option>
                        <option value="7">예의</option>
                        <option value="8">봉사</option>
                        <option value="9">리더십</option>
                        <option value="10">끈기</option>
                        <option value="11">착석</option>
                    </select>
                </div>

                <div class="recommend-regist-content-box">
                    <div class="recommend-regist-content">추천문구</div>
                    <textarea type="text" name="content" class="recommend-regist-content-input"></textarea>
                </div>

                <button type="button" class="recommend-regist-btn" onclick="btn()">등록하기</button>
            </form>

        </div>
    </div>

    <script>

        /* 엔터 입력시 submit 막기 */
        document.addEventListener('keydown', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
            };
        }, true);


        /* 등록버튼 누를 시 alert */
        function btn() {
            if (recommendForm.content.value === "") {
                recommendForm.content.focus();
                alert("내용을 입력해주세요.")
                return false;
            } else {
                recommendForm.submit();
                alert("추천문구를 등록하였습니다.")
            }
        }
    </script>

</body>
</html>